---
---
/* Only the main Sass file needs front matter (the dashes are enough) */

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* === Custom styles === */

.circle-logo {
  float: left;
  width: 1in;
  height: 1in;
  border-radius: 50%;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}
